.carousel-item img {
    max-width: 80%;
    max-height: auto;
    display: block;
    margin: 0 auto;
  }
 
  #carouselExampleCaptions {
    max-width: 50%; /* Ajusta el ancho máximo del carrusel */
    margin: 0 auto; /* Centra el carrusel horizontalmente */
  }
 
 
.carousel-caption {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 1.25rem; /* Ajusta el padding según sea necesario */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para mayor legibilidad */
    color: #fff; /* Color del texto */
    display: flex;
    flex-direction: column;
    justify-content: center;
    right: 0; /* Alinea los elementos a la derecha */
    left: auto; /* Reinicia el ajuste a la izquierda */
    width: 40%; /* Ancho del contenedor de la leyenda */
  }
 
  .carousel-caption.left {
    right: auto; /* Ajusta los elementos a la izquierda */
    left: 0; /* Alinea los elementos a la izquierda */
  }
 
  .carousel-caption h5,
  .carousel-caption p,
  .carousel-caption button {
    margin: 0; /* Elimina el margen predeterminado */
  }
 
  .text-start {
    text-align: start; /* Alinea el texto a la izquierda */
  }
 
  .text-end {
    text-align: end; /* Alinea el texto a la derecha */
  }
 